{% extends "base.html" %}

{% block content %}

<section class="about-us">
    <div class="about-us-header">
        <h1>Welcome to ARYA-Z-TECH</h1>
        <p>Innovating the Future, One Solution at a Time</p>
    </div>

    <div class="about-us-content">
        <div class="about-image">
            <img src="/static/media/logo.png" alt="Company Image">
        </div>
        <div class="about-text">
            <p><span class="highlighted-text"> ARYA-Z-TECH </span> is a pioneering technology firm dedicated to transforming industries with innovative digital solutions. 
               With a passionate team of experts, we focus on creating cutting-edge software, AI-driven applications, and 
               robust IT infrastructures tailored to meet the dynamic needs of businesses worldwide.</p>
            
            <p>Our commitment to excellence, customer-centric approach, and deep industry expertise set us apart. We believe 
               in harnessing the power of technology to drive efficiency, scalability, and long-term success for our clients.</p>

            <p>From bespoke software development to comprehensive IT consultancy, ARYA-Z-TECH is your trusted partner in navigating 
               the complexities of the digital world. Join us on this journey towards technological advancement and business transformation.</p>

            <p><strong>Founded by Ayush Patel,</strong> ARYA-Z-TECH continues to innovate and lead in the ever-evolving tech landscape, 
               ensuring that businesses stay ahead with the latest technological advancements.</p>
        </div>
    </div>
</section>

{% endblock content %}
