{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arya-Z-Tech</title>
    <!-- <link rel="stylesheet" href="/static/styles/base_outer.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static '/styles/base_outer.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.css" />

    <style>

    </style>
</head>

<body>

    <nav class="navbar">
        <a href="#" class="logo"><span class="strong">ARYA</span> Z-TECH</a>
        <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
        <ul id="menuList">
            <li class="{% if request.path == '/' %} active {% endif %}"><a href="{% url 'home' %} ">Home</a></li>
            <li class="{% if request.path == '/about-us' %} active {% endif %}"><a href="{% url 'about' %}">About</a>
            </li>
            <li class="{% if request.path == '/services' %} active {% endif %}"><a href="{% url 'services' %}">Services</a></li>
            <li class="{% if request.path == '/careers' %} active {% endif %}"><a href="{% url 'careers' %}">Careers</a></li>
            <li><a href="/contact"><button class="login_btn">Contact</button></a></li>
        </ul>
    </nav>
    <main class="main">