{% extends "base.html" %}

{% block content %}

<section class="services">
    <section class="intro">
        <h1>Our Services</h1>
        <p>At Arya Z-Tech, we provide a diverse array of technology solutions designed to elevate your business. Our services encompass website development, Android app creation, and Windows software development. We prioritize innovation and customization, ensuring that each project aligns with your unique goals while delivering exceptional support and expertise every step of the way.</p>
    </section>
    
    <section class="service-item">
        <h2>Website Development</h2>
        <img src="/static/media/website.png" alt="Website Development">
        <p>Our website development services focus on creating responsive, user-friendly websites that not only look great but also perform exceptionally. We utilize the latest technologies and frameworks to ensure your website is fast, secure, and scalable. Whether you need a simple landing page or a complex e-commerce platform, we have the expertise to bring your vision to life.</p>
    </section>
    
    <section class="service-item">
        <h2>Android App Development</h2>
        <img src="/static/media/app.png" alt="Android App Development">
        <p>In today's mobile-first world, having a robust Android app is essential for reaching your audience. Our team specializes in developing high-quality Android applications that are tailored to your business needs. We focus on creating intuitive user interfaces and seamless user experiences, ensuring that your app stands out in the crowded marketplace.</p>
    </section>
    
    <section class="service-item">
        <h2>Windows Software Development</h2>
        <img src="/static/media/windows.png" alt="Windows Software Development">
        <p>Our Windows software development services are designed to provide you with powerful and efficient solutions for your business. We develop custom software that meets your specific requirements, ensuring that it integrates seamlessly with your existing systems. From desktop applications to enterprise solutions, we have the skills to deliver high-quality software that drives productivity and efficiency.</p>
    </section>
    
    <section class="service-item">
        <h2>Why Choose Us?</h2>
        <img src="/static/media/question-mark.png" alt="Windows Software Development">
        <p>At Arya Z-Tech, we believe in building long-term relationships with our clients. Our commitment to quality, innovation, and customer satisfaction sets us apart. We work closely with you throughout the development process, ensuring that your project is completed on time and within budget. Let us help you take your business to the next level with our comprehensive technology solutions.</p>
    </section>
</section>

{% endblock content %}